.App {
  text-align: center;
 
}
.contain-cards{
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nada{
  height: 100px;
}
@media screen and (max-width: 767px) {
  .nada{
    height: 180px;
  }
}



